/.idea/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/Assets/Plugins/
/Assets/Plugins.meta
/Assets/Scenes/Test/
*.sln
*.csproj
/Assets/Scripts/Characters/TakeDamage.cs
/Assets/Scripts/DamageFeedback
/Assets/Scripts/Characters
/ProjectSettings
/Assets/Scripts/Characters/TakeDamage.cs
/.vs/DragonHatcher/FileContentIndex
/.vs/DragonHatcher/v17
/Assets/Scripts/Characters/TakeDamage.cs
/Assets/Scripts/DamageFeedback.meta
